<div style="width:100%; text-align: left; overflow: scroll;font-family: Arial">
    <div style = "text-align: left">
        <img style="width:150px; display:inline-block" src = "https://bytebucket.org/codingkids/statichostedpics/raw/66bf46141e6d0359f63f0c7bb67fab31e4498f77/CodingKids_logo_color.png">
        <img style="height:150px; display:inline-block" src = "https://bytebucket.org/codingkids/statichostedpics/raw/66bf46141e6d0359f63f0c7bb67fab31e4498f77/line.png">
        <div style="width:350px; display: inline-block; text-align:left;  ">
            <p style = "margin:5px;font-size: 20px;color: #107FC7">Emily de la Peña | General Manager</p>
            <p style = "margin:5px;font-size:12px;color: #107FC7">ADVANCE QUEENSLAND COMMUNITY DIGITAL CHAMPION</p>
            <p style = "margin:5px">e: <a href="mailto:hello@codingkids.com.au">hello@codingkids.com.au</a></p>
            <p style = "margin:5px">w: <a href="www.codingkids.com.au">codingkids.com.au</a></p>
            <p style = "margin:5px">m: <a href="tel:0449 162 677">0449 162 677</a></p>

            <a style="text-decoration: none" target="_blank" href="https://www.facebook.com/codingkidstutoring/">
                <img style="width:30px;margin-left: 15px; margin-top: 10px" src = "https://bytebucket.org/codingkids/statichostedpics/raw/66bf46141e6d0359f63f0c7bb67fab31e4498f77/iconmonstr-facebook-4-64.png">
            </a>

            <a style="text-decoration: none" target="_blank" href="https://twitter.com/coding_kids?lang=en">
                <img style="width:30px;margin-left: 15px" src = "https://bytebucket.org/codingkids/statichostedpics/raw/66bf46141e6d0359f63f0c7bb67fab31e4498f77/iconmonstr-twitter-4-64.png">
            </a>    

            <a style="text-decoration: none" target="_blank" href="https://www.instagram.com/codingkidsaus/">
                <img style="width:30px;margin-left: 15px" src = "https://bytebucket.org/codingkids/statichostedpics/raw/66bf46141e6d0359f63f0c7bb67fab31e4498f77/iconmonstr-instagram-14-64.png">
            </a>    

            <a style="text-decoration: none" target="_blank" href="https://www.youtube.com/channel/UCyq9eq4A9B5wH1n6-9NlAow">
                <img style="width:30px;margin-left: 15px "src = "https://bytebucket.org/codingkids/statichostedpics/raw/66bf46141e6d0359f63f0c7bb67fab31e4498f77/iconmonstr-youtube-9-64.png">
            </a>    

        </div>
        <p style="text-align: left; font-size: 12px;color: #107FC7">DEVELOPING THE NEXT GENERATION OF CREATORS, INNOVATORS AND CHANGE MAKERS</p>
    </div>
</div>
